*{
    font-family: sans-serif;
    list-style: none;
    padding: 0;
}
body{
    background: #252481;
}

.myskills{
    width: 500px;
    margin: 60px auto;
    color: azure;
    
}
.myskills li{
    margin: 20px 0;
    
}

.bar{
    background: #000000;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.4 );
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px aqua;
}

.bar span{
    height: 2px;
    float: left;
    background: aqua;
    
}

.html{
    width: 80%;
    animation: html 3s;
}
.css{
    width: 60%;
    animation: css 3s;

}
.javascript{
    width: 55%;
    animation: javascript 3s;
}
.java{
    width: 60%;
    animation: java 3s;
}
.python{
    width: 55%;
    animation: python 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 60%
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 55%
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 60%
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 55%
    }
}
